
	<div class="center-title">
		<img src="./uploads/avatar_1.png" alt="">
		<h5>Focus</h5>
		<p>巴黎成立、成员遍及世界的影迷手册，提供欧洲及北美最新电影资讯和批评，亦是各大电影节和电影工业的深度观察家</p>
		<a href="javascript:;">to Douban home page</a>
	</div>
	<div class="item">
		<ul class="posts">
			<!-- Articles -->
			<li>
				<span href="javascript:;" class="tag">Destinations</span>
				<div class="cont">
					<h3>Destinations</h3>
					<div class="brief">
						<p>Pilgrimage to the Holy Mountain--Exploring the origin of the Tibetan culture</p>
						<div class="thumb">
							<img src="./uploads/post_1.png" alt="">
						</div>
					</div>							
				</div>
			</li>
			<li>
				<span href="javascript:;" class="tag">Destinations</span>
				<div class="cont">
					<h3>Pilgrimage to the Holy Mountain--Exploring the origin of the Tibetan culture</h3>
					<div class="brief">
						<div class="gallery">
							<div class="img-box">
								<img src="./uploads/post_3.png" alt="">
							</div>
							<div class="img-box">
								<img src="./uploads/post_4.png" alt="">
							</div>
							<div class="img-box">
								<img src="./uploads/post_5.png" alt="">
							</div>
						</div>
					</div>							
				</div>
			</li>
			<li>
				<span href="javascript:;" class="tag">去远方</span>
				<div class="cont">
					<h3>Pilgrimage to the Holy Mountain--Exploring the origin of the Tibetan culture</h3>
					<div class="brief">
						<p>There is a narrow hole there, where has been the meditation place for Master Lianhuasheng. For Tibetans, getting through the hole means cleaning their minds.</p>
						<div class="thumb">
							<img src="./uploads/post_1.png" alt="">
						</div>
					</div>							
				</div>
			</li>
			<li>
				<span href="javascript:;" class="tag">Destinations/span>
					<span href="javascript:;" class="tag"></span>
				<div class="cont">
					<h3>Pilgrimage to the Holy Mountain--Exploring the origin of the Tibetan culture</h3>
					<div class="brief">
						<p>There is a narrow hole there, where has been the meditation place for Master Lianhuasheng. For Tibetans, getting through the hole means cleaning their minds.</p>
						<div class="thumb">
							<img src="./uploads/post_1.png" alt="">
						</div>
					</div>							
				</div>
			</li>
		</ul>
	</div>