
	<div class="item">
		<!-- Category by date -->
		<div class="mark">Likes (2)</div>
		<ul class="posts">
			<!-- articles -->
			<li>
				<span href="javascript:;" class="tag">Destinations</span>
				<div class="cont">
					<h3>Pilgrimage to the Holy Mountain--Exploring the origin of the Tibetan culture</h3>
					<div class="brief">
						<div class="gallery">
							<div class="img-box">
								<img src="./uploads/post_3.png" alt="">
							</div>
							<div class="img-box">
								<img src="./uploads/post_4.png" alt="">
							</div>
							<div class="img-box">
								<img src="./uploads/post_5.png" alt="">
							</div>
						</div>
					</div>							
				</div>
			</li>
			<li>
				<span href="javascript:;" class="tag">Destinations</span>
				<div class="cont">
					<h3>Pilgrimage to the Holy Mountain--Exploring the origin of the Tibetan culture</h3>
					<div class="brief">
						<p>There is a narrow hole there, where has been the meditation place for Master Lianhuasheng. For Tibetans, getting through the hole means cleaning their minds</p>
						<div class="thumb">
							<img src="./uploads/post_1.png" alt="">
						</div>
					</div>							
				</div>
			</li>
		</ul>
	</div>